@use 'sass:color';
@use 'sass:list';

$properties-color-list: color, background-color;
$border-valid-sides: border, border-top, border-right, border-bottom, border-left;
$border-valid-styles: dotted, dashed, solid, double, groove, ridge, inset, outset, none;
$valid-colors: $primary-color, $text-color, $secondary-color, $background-color;

/*
$property: color or background-color
$color: rgb or hex color
$opacity: float between 0 and 1

apply to a css class : set $property with $color and $opacity
*/
@mixin property-color-opacity($property, $color, $opacity) {
	@if list.index($properties-color-list, $property) and 
	$opacity >= 0 and $opacity <= 1 
	and list.index($valid-colors, $color) {
		$r: color.channel($color, "red", $space: rgb);
		$g: color.channel($color, "green", $space: rgb);
		$b: color.channel($color, "blue", $space: rgb);
		#{$property}: rgba($r, $g, $b, $opacity);
	} @else {
		@warn "check $property, $color, $opacity values";
	}
}

@mixin border-color-style-width-radius-opacity(
	$border,
	$border-color,
	$border-style,
	$border-width,
	$border-radius,
	$opacity
) {
}