@use 'sass:color';

/*
$property: color or background-color
$color: rgb or hex color
$opacity: float between 0 and 1

apply to a css class : set $property with $color and $opacity
*/
@mixin color-variation-opacity($property, $color, $opacity) {
	@if $property == color or $property == background-color {
		@if $opacity >= 0 and $opacity <= 1 {
			$r: color.channel($color, "red", $space: rgb);
			$g: color.channel($color, "green", $space: rgb);
			$b: color.channel($color, "blue", $space: rgb);
			#{$property}: rgba($r, $g, $b, $opacity);
		} @else {
			color: $color;
		}
	} @else {
		@warn "#{$property} is not a valid color property";
	}
}

@mixin border-color-style-opacity(
	$border-top, 
	$border-right, 
	$border-bottom, 
	$border-left, 
	$border-style, 
	$border-color, 
	$border-opacity
) {
	
}
