// Main Colors
$text-color: #000000;
$background-color: #FFFFFF;
$complementary-color: #B8F0F9;
$primary-color: #E6552A;
$secondary-color: #f9c1b8;

// Main fonts
$headings-font: "Roboto";
$body-font: "Gabarito";